nav ul {
  background: seagreen;
  display: inline-block;
  margin: 0;
  padding: 0; }

nav li {
  display: inline-block;
  margin: 0;
  padding: 11px 16px; }

nav a {
  line-height: none;
  height: 10px; }

nav a:hover {
  background: green; }
