footer{
  .footer-t{
    .contact-container {
      margin-top: 80px;
      width: 100%;
      height: 1px;
      background-color: #e7e9eb;
      .contact {
        padding-top: 30px;
        .contact-description {
          p{
            padding-top: 10px;
            color: #2f333b;
            font-size: 17px;
            font-weight: 300;
            line-height: 21px;
          }
          .contact-left {
            img{
              float: left;
              position: relative;
              margin-right: 10px;
              top: 5px;
            }
            .map {

            }
            .phone {
              padding-top: 15px;
            }
            .mail {
              padding-top: 15px;
            }
          }

          .contact-nav {
            border-right: 1px solid #e7e9eb;
            border-left: 1px solid #e7e9eb;
            ul {
              padding: 0;
              margin: 0;
              list-style: none;

              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;

              -webkit-flex-flow: row wrap;
              justify-content: space-around;

              li {
                padding-left: 15px;
                width: 100px;
                height: 20px;
                margin-top: 10px;

                a {
                  text-decoration: none;
                  color: #2f333b;
                  font-size: 17px;
                  font-weight: 300;

                }
                a:hover{
                  text-decoration: underline;
                  font-weight: 700;
                  transition: 0.2s;
                }
              }
            }
            p {
              text-align: center;
            }
          }

          .contact-invite {
            padding-left: 40px;
              p {
                color: #635d5d;
                font-size: 17px;
                font-weight: 100;
                span {
                  font-weight: 700;
                }
              }
          }
        }
      }
    }
  }

  .footer-b{
    margin-top: 40px;
    background-color: #151518;
    height: 70px;
    p{
      padding-top: 26px;
      color: #fff;
      font-size: 14px;
      line-height: 15px;
    }
    .sentence-right {
      text-align: right;
      span {
        text-transform: uppercase;
      }
    }
   .sentence-right:after {
      background: url("../images/icon-circle.png") center center no-repeat;
      content: "";
      display: inline-block;
      width: 32px;
      height: 18px;
      position: relative;
      left: 10px;
      top: 3px;
    }
  }
}